@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

section {
    margin: auto;
    margin-bottom: 120px;
}
.section-1 {
    background: linear-gradient(
        180deg,
        rgb(16, 16, 16) -19.5%,
        rgba(16, 16, 16, 0) 100%),url(../images/Banner\ Image.png);
    width: 1320px;
    height: 600px;
    font-family: 'merriweather';
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    margin-top: 50px;

}
.section-1 .text {
    text-align: center;
    padding: 177px 344px;
}
.section-1 .text .subtitle {
    font-size: 32px;
}
.section-1 .text .title {
    font-size: 72px;
    margin-top: 16px;
}
.section-2 {
    background: url(../images/New\ Year\ Photo.png);
    background-repeat: no-repeat;
    background-position: bottom;
    width: 803px;
    height: 806px;
    font-family: 'inter';
}
.section-2 .off {
    text-align: center;
    color: #FF0000;
    font-size: 88px;
    margin-top: 0;
    margin-bottom: 48px;
}
.section-2 .subtitle {
    font-size: 24px;
    color: #FF0000;
    font-weight: 400;
    text-align: center;
}
.section-2 .title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-top: 16px;
}
.section-3 {
    background: linear-gradient(to right,rgba(7, 2, 17, 1),rgba(7, 2, 17, 0)),url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    height: 600px;
    width: 1320px;
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.section-3 .text {
    width: 65%;
    margin-left: 126px;
}
.section-3 .text .title {
    font-size: 64px;
    font-weight: 600;
    margin-top: 16px;
    color: white;
    font-family: 'Merriweather';
    margin-bottom: 24px;
    line-height: 88px;
    letter-spacing: 11px;
}
.section-3 .text .subtitle {
    font-size: 18px;
    color: white;
    opacity: .8;
    font-family: 'inter';
    line-height: 30px;
    font-weight: 200;
    margin-bottom: 48px;
} 
.section-3 .text .btn-box {
    font-family: 'inter';
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    background: transparent;
    padding-left: 30px;
}
.section-3 .background {
    background: url(../images/Group\ 70.png);
    width: 35%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 138px;
}
.section-4 {
    width: 1320px;
    height: 482px;
    background: linear-gradient(to bottom, rgba(255, 0, 0, .2), rgba(255, 0, 0, 0));
    border-radius: 16px;
    font-family: 'inter';
}
.section-4 .text {
    padding: 100px 385px;
    width: 549px;
    height: 272px;
}
.section-4 .btn-box {
    font-family: 'inter';
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 8px;
    background: #FF0000;
    padding: 16px 32px;

}
.place, .date, .time {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin: 16px;
}
.btn {
    text-align: center;
    margin-top: 48px;
}
.place-spn, .date-spn, .time-spn {
    color: red;
}